<form action="/todos" method="POST" style="display:inline">
  <div class="input-group">
    <input type="text" class="form-control" placeholder="name" name="name">
    <button class="btn btn-warning" type="submit">Create</button>
  </div>
</form>